body {
	font-family: sans-serif;
}

.container{
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 6fr;
}

main {
	grid-column: 2/8;
}

nav {
	grid-column: 1/2;
	background-color: #f1f1f1;
	height: 100%

}
nav li{
	text-decoration: none;
}

nav ul li {
	list-style-type: none;
}

nav a {
	text-decoration: none;
}

.navbutton {
	border: 2px solid black;
}